<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.atry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/piggy_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/piggy_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DayTheme">
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".Setting.FabColorActivity" />
        <activity android:name=".UserSettingsActivity" />
        <activity android:name=".Alarm.EditAlarmActivity" />

        <receiver android:name=".Alarm.AlarmReceiver" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".IntroductoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>